<form #mytable class="fullwidth" (ngSubmit)="onSubmit()">
  <table class="fullwidth">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name Knowledge Base">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
        <input matInput placeholder="ID">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Question">
        </mat-form-field>
      </td>
      <td>
        <button mat-stroked-button color="primary">Add</button>
      </td>
      <td>
        <button mat-stroked-button color="primary">Delete</button>
      </td>
    </tr>
    <tr *ngFor="let item of items">
      <td></td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Question">
        </mat-form-field>
      </td>
      <td>
        <button mat-stroked-button color="primary">Add</button>
      </td>
      <td>
        <button mat-stroked-button color="primary">Delete</button>
      </td>
    </tr>
  </table>
</form>
<div>
  <ng-template #clone>
    <p>lorem</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </ng-template>
</div>
<button (click)="delete()"> delete</button>
<button (click)="copy()"> copy</button>
<div *ngFor="let item of items">
  <p>{{item}}</p>
</div>

