<ng-container *ngIf="isloadDing">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr style="text-align: left">
        <th scope="col">#</th>
        <th scope="col">KB Name</th>
        <th scope="col">Last Accesed</th>
        <th scope="col">Last Changed Times</th>
      </tr>
      </thead>
      <tbody *ngFor="let data of dataKB.knowledgebases; index as i;" >
      <tr style="border-top: solid black 2px">
        <th scope="row">{{i}}</th>
        <td>{{data.name}}</td>
        <td>{{data.lastAccessedTimestamp | date}}</td>
        <td>{{data.lastChangedTimestamp | date}}</td>
      </tr>
      <tr>
        <td colspan="4" style="text-align: center">
          <div class="col-4" style="float: left;"><button class="btn btn-danger disabled" (click)="deleteKB(data.id)">Delete KB</button></div>
          <div class="col-4" style="float: left; "><a routerLink="/qna" class="nav-link btn btn-primary">Edit QnA</a> </div>
          <div class="col-4" style="float: left; "><a style="color: white" class="btn btn-primary">Answer</a></div>

        </td>
      </tr>
      </tbody>
    </table>
  </div>

</ng-container>
