<br>
<mat-form-field class="example-full-width" style="margin-left: 25px;">
  <input matInput placeholder="Question"   #question>
</mat-form-field>
<button mat-stroked-button color="primary" (click)="onclick(question.value)" style="margin-left: 25px;">Get Anwser</button>
<br>
<div *ngFor="let item of answer">
  <mat-card class="example-card question" >
    <mat-card-header>
      <mat-card-title>Question</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{item.question}}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card answer" >
    <mat-card-header>
      <mat-card-title>Answer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{item.answer}}
      </p>
    </mat-card-content>
  </mat-card>
  </div>

